/* Estilos para a lista de navegação */
*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%; /* Define a altura da página como 100% da altura da viewport */
}


p{
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-top: 10px;
    line-height: 1.5;
}

h2{
    text-align: center;
    font-size: 30px;
}

.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-about-me{
    color: white;
    padding-top: 100px;
}

.text-about-me{
    flex: 1;
    color: white;
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 30px;
    padding-left: 50px;
}

.title-projects{
    color: black;
    padding-top: 130px;
    font-family: "Anton", sans-serif;
    font-size: 30px;
}

.text-projects{
    color: black;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    font-size: 14px;
    line-height: 1.5;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
}

.title-contact{
    color: black;
    padding-top: 130px;
    font-family: "Anton", sans-serif;
    font-size: 30px;
}

.text-contact{
    color: black;
    text-align: left;
    letter-spacing: 1.7px;
    margin: 0 auto;
    max-width: 400px;
    font-size: 12px;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

h1, h2, p {
    margin: 0; /* Remove margens */
    padding: 0; /* Remove padding */
}

section{
    height: 100vh; /* Altura da tela */
    display: relative;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Começa invisível */
    transition: all 1s ease-out;
}

.about-me, .projects, .contact {
    margin: 0; /* Garante que não haja margem entre seções */
    padding: 0; /* Garante que não haja padding */
}

.section-visible {
    opacity: 1; /* Classe para mostrar a seção */
}

.fade-in {
    opacity: 1; /* Final */
    transform: translateY(0);
}

h1 {
    position: relative; /* Fixa a posição do h1 */
    top: 250px; /* Ajuste conforme necessário */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para o centro */
    font-size: 70px;
    color: #000;
    white-space: nowrap;
    border-right: 4px solid;
    font-family: "Anton", sans-serif;
    width: 12ch;
    overflow: hidden;
    animation: mark 0.5s step-end infinite, typing 4.6s steps(14, end) infinite;
}

@keyframes typing {
        
        0% { 
            width: 0;
        }
    
        20% { 
            width: 12ch;
        }

        70% { 
            width: 12ch;
        }

        85% { 
            width: 0;
        }

        100% { 
            width: 0;
        }
    }

@keyframes mark {
            50% { border-color: transparent; }
        }

.first{
    font-size: 20px;
    color: #000;
    text-align: center;
    margin-top: 290px;
    font-weight: 600;
    font-family: "Anton", sans-serif;
}

.second{
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: 500;
    padding-top: 10px;
    font-style: italic;
    font-family: "Roboto", sans-serif;
}

.third{
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    font-family: "Roboto", sans-serif;
}

/* botões das redes sociais */

.redes-sociais{
    display: inline-block;
    justify-content: center;
    width: 100px;
    margin-top: 50px;
    margin-left: 900px;
    font-family: "Roboto", sans-serif;
}

#github{
    margin-left: 720px;
    background-color: #333;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: #333;
    padding: 5px;
}

ion-icon{
    font-size: 23px;
    color: black;
}

#linkedin{
    margin-left: 80px;
    background-color: #0077b5;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: #0077b5;
    padding: 5px;
}

#download-cv{
    margin-left: 80px;
    background-color: purple;
    border-radius: 5px;
    border-width: 0.5px;
    border-color: purple;
    padding: 5px;
}

.redes-sociais {
    display: relative;
    align-items: center; /* Alinha o ícone e o texto verticalmente */
    color: black; /* Define a cor padrão */
}

.redes-sociais a {
    text-decoration: none;
    color: inherit; /* Faz o link herdar a cor do pai */
}

.redes-sociais:hover {
    color: white; /* Muda a cor do texto e do ícone ao passar o mouse */
}

.redes-sociais:hover ion-icon {
    color: white; /* Muda a cor do ícone ao passar o mouse */
}

.about-me{
    background-color: #333;
}

.projects{
    background-color: palegoldenrod;
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.project-card {
    background-color: whitesmoke;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 480px;
    text-align: left;
    padding: 20px;
    transition: transform 0.2s;
    border: 1px solid #eaeaea;
    margin-bottom: 10px;
}

.project-card:hover {
    transform: translateY(-3px);
}

.project-image {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    height: auto;
}

.project-title {
    font-size: 25px;
    margin: 15px 0;
    color: black;
    font-family: "Anton", sans-serif;
}

.project-description {
    color: black;
    margin-bottom: 15px;
    font-size: 12px;
    text-align: left;
    font-family: "Roboto", sans-serif;
}

.repositorios{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    color: black;
    font-family: "Roboto", sans-serif;
}

.skills-used{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    letter-spacing: 1.5px;
    text-transform: lowercase;
    color: black;
    font-family: "Roboto", sans-serif;
}

a svg {
    border: none;    /* Remove qualquer borda do SVG */
    outline: none;   /* Remove o contorno do SVG */
    display: inline-block;  /* Garante que o ícone seja exibido como inline */
    text-decoration: none;  /* Remove o sublinhado do link */
    background: none;  /* Remove qualquer background no SVG */
}

.icons-skill{
    display: inline-flex;
    gap: 10px;
}

.logo-html5{
    color: #e34f26;
}

.logo-javascript{
    color: #f7df1e;
}

.logo-css3{
    color: #1572b6;
}

.logo-nodejs{
    color: #68a063;
}

.logo-electron{
    color: #47848f;
}

.mongodb-icon{
    color: #4db33d;
}

.logo-github{
    color: #333;
}

.logo-vercel{
    color: #fff;
    background-color: black;
    border-radius: 50%;
}

.youtube-link{
    font-size: 12px;
    color: rgb(104, 223, 253);
    font-weight: 600;
    text-decoration: none;
}

.youtube-link:hover{
    color: rgb(61, 212, 250)
}

.project-link {
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
}

.welcome{
    background-color: rgb(104, 223, 253);
}

.skills{
    background-color: black;
}

.contact{
    background-color: palegreen;
}

.img-about-me{
    width: 300px;
    height: 300px;
    display: block;
    margin-left: 30px;
}

.content-about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
}

.swiffy-slider {
    max-width: 1000px; /* Ajuste para a largura desejada */
    height: 100%; /* Ajuste para a altura desejada */
    margin: 0 auto; /* Centraliza o carrossel */
}

.contact-form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label{
    font-size: 14px;
    font-family: "Roboto", sans-serif;
}

label {
    margin: 10px 0 5px;
    color: #555;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: "Roboto", sans-serif;
    color: #333;
}

input:hover{
    border: 1px solid #333;
}

input:focus, textarea:focus {
    border: 1px solid #333;
    outline: none;
}

textarea {
    resize: vertical;
    height: 80px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#submit-button {
    padding: 10px;
    background-color: rgb(104, 223, 253);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
}

#submit-button:hover {
    background-color: palegreen;
}

.footer {
    background-color: papayawhip;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o rodapé fique acima de outros elementos */
}

.footer-text{
    color: #2e2e2e;
}

.footer p {
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

/* Font Roboto */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
